<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <!--tomcat启动后自动启动获取幸运用户-->
  <listener>
    <listener-class>Listener.getLuckUser</listener-class>
  </listener>
  <!--管理员登陆-->
  <servlet>
    <servlet-name>adminServlet</servlet-name>
    <servlet-class>servlet.admin.adminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminServlet</servlet-name>
    <url-pattern>/vote/admin/login</url-pattern>
  </servlet-mapping>
  <!--啦啦队是否上传信息-->
  <servlet>
    <servlet-name>CheerInfoServlet</servlet-name>
    <servlet-class>servlet.cheerInfo.CheerInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheerInfoServlet</servlet-name>
    <url-pattern>/vote/admin/cheer_result</url-pattern>
  </servlet-mapping>
  <!--啦啦队队员文件上传-->
  <servlet>
    <display-name>CheerPlayerInfo</display-name>
    <servlet-name>CheerPlayerInfo</servlet-name>
    <servlet-class>servlet.cheerInfo.CheerPlayerInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheerPlayerInfo</servlet-name>
    <url-pattern>/vote/admin/cheer_player</url-pattern>
  </servlet-mapping>
  <!--啦啦队文件上传-->
  <servlet>
    <display-name>CheerInfo</display-name>
    <servlet-name>CheerInfo</servlet-name>
    <servlet-class>servlet.cheerInfo.CheerInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheerInfo</servlet-name>
    <url-pattern>/vote/admin/cheer_info</url-pattern>
  </servlet-mapping>

  <!-- 题目上传-->
  <servlet>
    <display-name>QuestionServlet</display-name>
    <servlet-name>QuestionServlet</servlet-name>
    <servlet-class>servlet.question.QuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionServlet</servlet-name>
    <url-pattern>/vote/admin/question</url-pattern>
  </servlet-mapping>

  <!--删除题目-->
  <servlet-mapping>
    <servlet-name>QuestionServlet</servlet-name>
    <url-pattern>/vote/admin/question/*</url-pattern>
  </servlet-mapping>

  <!--获取题目数量-->
  <servlet>
    <display-name>GetQuestionNumServlet</display-name>
    <servlet-name>GetQuestionNumServlet</servlet-name>
    <servlet-class>servlet.question.GetQuestionNumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetQuestionNumServlet</servlet-name>
    <url-pattern>/vote/admin/question_num</url-pattern>
  </servlet-mapping>
  <!-- 获取题目列表-->
  <servlet>
    <display-name>GetQuestinListServlet</display-name>
    <servlet-name>GetQuestionListServlet</servlet-name>
    <servlet-class>servlet.question.GetQuestionListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetQuestionListServlet</servlet-name>
    <url-pattern>/vote/admin/question_list/*</url-pattern>
  </servlet-mapping>
  <!--修改题目-->
  <servlet-mapping>
    <servlet-name>GetQuestionListServlet</servlet-name>
    <url-pattern>/vote/admin/question_list</url-pattern>
  </servlet-mapping>

  <!--留言-->
  <servlet>
  <display-name>MessageServlet</display-name>
  <servlet-name>MessageServlet</servlet-name>
  <servlet-class>servlet.message.MessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>MessageServlet</servlet-name>
  <url-pattern>/vote/user/content</url-pattern>
  </servlet-mapping>
  <!--留言点赞-->
  <servlet>
    <display-name>PraiseMessageServlet</display-name>
    <servlet-name>praiseMessage1Servlet</servlet-name>
    <servlet-class>servlet.message.PraiseMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>praiseMessage1Servlet</servlet-name>
    <url-pattern>/vote/user/content_praise/*</url-pattern>
  </servlet-mapping>

  <!--获取留言-->
  <servlet-mapping>
  <servlet-name>MessageServlet</servlet-name>
  <url-pattern>/vote/user/content/*</url-pattern>
  </servlet-mapping>




  <!--获取题目-->
  <servlet>
  <display-name>AnswerServlet</display-name>
  <servlet-name>AnswerServlet</servlet-name>
  <servlet-class>servlet.answer.UserGetQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>AnswerServlet</servlet-name>
  <url-pattern>/vote/user/question</url-pattern>
  </servlet-mapping>
  <!--获取答案-->
  <servlet>
  <display-name>AnswerServlet</display-name>
  <servlet-name>Answer1Servlet</servlet-name>
  <servlet-class>servlet.answer.UserGetAnswerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Answer1Servlet</servlet-name>
  <url-pattern>/vote/user/answer</url-pattern>
  </servlet-mapping>
  <!--&lt;!&ndash;结束答题&ndash;&gt;-->
  <!--<servlet>-->
  <!--<display-name>AnswerServlet</display-name>-->
  <!--<servlet-name>Answer2Servlet</servlet-name>-->
  <!--<servlet-class>servlet.answer.UserEndQuestionServlet</servlet-class>-->
  <!--</servlet>-->
  <!--<servlet-mapping>-->
  <!--<servlet-name>Answer2Servlet</servlet-name>-->
  <!--<url-pattern>/vote/user/end/question</url-pattern>-->
  <!--</servlet-mapping>-->
  <!--&lt;!&ndash;获取幸运用户&ndash;&gt;-->
  <!--<servlet>-->
  <!--<display-name>AnswerServlet</display-name>-->
  <!--<servlet-name>Answer3Servlet</servlet-name>-->
  <!--<servlet-class>servlet.answer.GetLuckUserServlet</servlet-class>-->
  <!--</servlet>-->
  <!--<servlet-mapping>-->
  <!--<servlet-name>Answer3Servlet</servlet-name>-->
  <!--<url-pattern>/vote/user/get/luckyUser</url-pattern>-->
  <!--</servlet-mapping>-->
  <!--&lt;!&ndash;获取答题榜&ndash;&gt;-->
  <!--<servlet>-->
  <!--<display-name>AnswerServlet</display-name>-->
  <!--<servlet-name>Answer4Servlet</servlet-name>-->
  <!--<servlet-class>servlet.answer.GetUserRankServlet</servlet-class>-->
  <!--</servlet>-->
  <!--<servlet-mapping>-->
  <!--<servlet-name>Answer4Servlet</servlet-name>-->
  <!--<url-pattern>/vote/user/get/userList</url-pattern>-->
  <!--</servlet-mapping>-->

  <!--&lt;!&ndash;为啦啦队增加助力数&ndash;&gt;-->
  <!--<servlet>-->
  <!--<display-name>AssistanceServlet</display-name>-->
  <!--<servlet-name>AssistanceServlet</servlet-name>-->
  <!--<servlet-class>servlet.assistance.UpdateCheerAssistanceServlet</servlet-class>-->
  <!--</servlet>-->
  <!--<servlet-mapping>-->
  <!--<servlet-name>AssistanceServlet</servlet-name>-->
  <!--<url-pattern>/vote/user/update/cheer/distance</url-pattern>-->
  <!--</servlet-mapping>-->
  <!--&lt;!&ndash;获取助力数&ndash;&gt;-->
  <!--<servlet>-->
  <!--<display-name>AssistanceServlet</display-name>-->
  <!--<servlet-name>Assistance2Servlet</servlet-name>-->
  <!--<servlet-class>servlet.assistance.UserGetAssistance</servlet-class>-->
  <!--</servlet>-->
  <!--<servlet-mapping>-->
  <!--<servlet-name>Assistance2Servlet</servlet-name>-->
  <!--<url-pattern>/vote/user/get/assistance</url-pattern>-->
  <!--</servlet-mapping>-->
  <!--&lt;!&ndash;获取助力历史&ndash;&gt;-->
  <!--<servlet>-->
  <!--<display-name>AssistanceServlet</display-name>-->
  <!--<servlet-name>Assistance3Servlet</servlet-name>-->
  <!--<servlet-class>servlet.assistance.UserGetAssistanceHistoryServlet</servlet-class>-->
  <!--</servlet>-->
  <!--<servlet-mapping>-->
  <!--<servlet-name>Assistance3Servlet</servlet-name>-->
  <!--<url-pattern>/vote/user/get/assistance/history</url-pattern>-->
  <!--</servlet-mapping>-->
  <!--<servlet-mapping>-->
  <!--<servlet-name>AssistanceServlet</servlet-name>-->
  <!--<url-pattern>/vote/test/*</url-pattern>-->
  <!--</servlet-mapping>-->
</web-app>
